{
	"parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
	"extends": "airbnb/base",
	"globals": {
		"describe": true,
		"it": true
	},
	"rules": {
		"indent": ["error", 2],
		"quotes": ["error", "single", { "allowTemplateLiterals": true }],
		"brace-style": ["error", "stroustrup"],
		"comma-dangle": ["error", "never"],
		"one-var": ["error", "always"],
		"no-param-reassign": ["error", { "props": false }],
		"no-console": ["error", { allow: ["info", "error"] }]
	}
}